In [3]:
import pandas as pd

In [4]:
col_names = ["Stock", "Industry"]
data  = pd.read_csv("snp100.csv", names=col_names, skiprows=[33, 54, 79])
data.head()

  Stock                Industry
0  AAPL  Information Technology
1  ABBV             Health Care
2   ABT             Health Care
3   ACN  Information Technology
4  ADBE  Information Technology

In [5]:
healthcare_stocks = data[data['Industry'] == 'Materials']
healthcare_stocks

Empty DataFrame
Columns: [Stock, Industry]
Index: []

In [9]:
industry_counts = data['Industry'].value_counts()
industry_counts

Industry
Information Technology    17
Financials                15
Health Care               14
Industrials               12
Consumer Discretionary    11
Consumer Staples          11
Communication Services     9
Utilities                  4
Energy                     3
Real Estate                2
Materials                  2
Name: count, dtype: int64

In [10]:
list(data["Industry"].unique())

['Information Technology',
 'Health Care',
 'Financials',
 'Real Estate',
 'Consumer Discretionary',
 'Industrials',
 'Communication Services',
 'Consumer Staples',
 'Energy',
 'Materials',
 'Utilities']

In [11]:
def industry():
    return list(data["Industry"].unique())

In [12]:
industry()

['Information Technology',
 'Health Care',
 'Financials',
 'Real Estate',
 'Consumer Discretionary',
 'Industrials',
 'Communication Services',
 'Consumer Staples',
 'Energy',
 'Materials',
 'Utilities']

In [47]:
data

   Stock                Industry
0   AAPL  Information Technology
1   ABBV             Health Care
2    ABT             Health Care
3    ACN  Information Technology
4   ADBE  Information Technology
..   ...                     ...
92    VZ  Communication Services
93   WBA        Consumer Staples
94   WFC              Financials
95   WMT        Consumer Staples
96   XOM                  Energy

[97 rows x 2 columns]

In [32]:
data.drop(33, inplace=True)
data.drop(54, inplace=True)
data.drop(79, inplace=True)

In [33]:
data.reset_index(inplace=True)
del data["index"]

In [35]:
data

   Stock                Industry
0   AAPL  Information Technology
1   ABBV             Health Care
2    ABT             Health Care
3    ACN  Information Technology
4   ADBE  Information Technology
..   ...                     ...
92    VZ  Communication Services
93   WBA        Consumer Staples
94   WFC              Financials
95   WMT        Consumer Staples
96   XOM                  Energy

[97 rows x 2 columns]

In [8]:
healthcare_stocks = data[data['Industry'] == 'Information Technology']
healthcare_stocks

   Stock                Industry
0   AAPL  Information Technology
3    ACN  Information Technology
4   ADBE  Information Technology
6    AMD  Information Technology
10  AVGO  Information Technology
27   CRM  Information Technology
28  CSCO  Information Technology
47   IBM  Information Technology
48  INTC  Information Technology
56    MA  Information Technology
65  MSFT  Information Technology
69  NVDA  Information Technology
70  ORCL  Information Technology
75  PYPL  Information Technology
76  QCOM  Information Technology
86   TXN  Information Technology
91     V  Information Technology

In [56]:
data
def stocks_in_industry(i):
    res = data[data["Industry"] == i]

    return res

In [1]:
stocks_in_industry("Materials")

NameError: name 'stocks_in_industry' is not defined

In [23]:
cols = ["Stock", "Amount"]
data = pd.read_csv('DeepDow_weights2.csv', names=cols)

FileNotFoundError: [Errno 2] No such file or directory: 'DeepDow_weights2.csv'

In [18]:
import os

cur_dir = os.getcwd()

In [21]:
"../../" + cur_dir

'../..//Users/minervasasu/code/saminho44/FolioWise-front-end/pages/backend'

In [ ]:
["Apple", "Adobe", "Abbolt", "Bristol Myers", "Capital One", "Goldman Sachs", "Simon Property",\
    "American Tower", "Philip Morris", "Heinz Company", "Duke Energy", "NextEra Energy", "Netflix",\
        "AT&T", "Exxon Mobil", "ConocoPhillips", "Emerson Electric Company", "Lowes Companies", "McDonalds"]